fullnameOverride: squares

image:
  repository: maxmorhardt/squares
  tag: '0.0.1'
  pullPolicy: Always
  revisionHistoryLimit: 2
  securityContext:
    runAsNonRoot: true
    runAsUser: 1000
    fsGroup: 1000
    allowPrivilegeEscalation: false
    readOnlyRootFilesystem: true
  volumes:
    - name: tmp
      mountPath: /tmp
      volumeType: emptyDir
    - name: cache
      mountPath: /var/cache/nginx
      volumeType: emptyDir
    - name: run
      mountPath: /var/run
      volumeType: emptyDir
  startupProbe:
    path: /health
    initialDelaySeconds: 5
    periodSeconds: 5
    timeoutSeconds: 3
    failureThreshold: 30
  readinessProbe:
    path: /health
    initialDelaySeconds: 30
    periodSeconds: 30
    timeoutSeconds: 30
    failureThreshold: 5
    successThreshold: 1
  livenessProbe:
    path: /health
    initialDelaySeconds: 30
    periodSeconds: 30
    timeoutSeconds: 30
    failureThreshold: 5
    successThreshold: 1

service:
  type: ClusterIP
  port: 80
  targetPort: 80
  name: http

ingress:
  enabled: true
  className: nginx
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: '1m'
    nginx.ingress.kubernetes.io/client-body-buffer-size: '1m'
    nginx.ingress.kubernetes.io/limit-rps: '20'
    nginx.ingress.kubernetes.io/limit-burst-multiplier: '5'
  hosts:
    - host: squares.maxstash.io
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: maxstash.io-tls
      hosts:
        - squares.maxstash.io

resources:
  limits:
    cpu: 200m
    memory: 128Mi
  requests:
    cpu: 200m
    memory: 128Mi

affinity:
  podAntiAffinity:
    enabled: true
    weight: 100
    topologyKey: kubernetes.io/hostname

hpa:
  enabled: true
  minReplicas: 3
  maxReplicas: 5
  targetCPU: 100
  targetRAM: 100

pdb:
  enabled: true
  minAvailable: 1

metrics:
  image:
    name: nginx-exporter
    repository: nginx/nginx-prometheus-exporter
    tag: latest
    pullPolicy: Always
    args:
      - "--nginx.scrape-uri=http://127.0.0.1:9000/metrics"
  resources:
    limits:
      cpu: 20m
      memory: 64Mi
    requests:
      cpu: 20m
      memory: 64Mi
  service:
    type: ClusterIP
    port: 9113
    targetPort: 9113
    name: metrics
